{
    email jacobjleveroni.dev@gmail.com
}

# example serving from a subdomain
one.yourdomain.com {
    reverse_proxy one:3000 # assume `one` is the container name
}

two.yourdomain.com {
    reverse_proxy two:3001 # assume `two` is the container name
}

# example serving from a route instead of subdomain
yourdomain.com/three {
    reverse_proxy three:3002 # assume `three` is the container name
}